<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Webpack Starter</title>
	<link rel="stylesheet" href="../src/dep/blog.min.css">
	<link rel="stylesheet" href="../src/dep/modules.min.css">
	<link rel="stylesheet" href="../src/dep/plugins.min.css">
	<link rel="stylesheet" href="../src/dep/style_dynamic.css">
	<link rel="stylesheet" href="../src/dep/woocommerce.min.css">
	<link rel="stylesheet" href="../src/dep/wpml.min.css">
	<link rel="stylesheet" href="../src/dep/blog-responsive.min.css">
	<link rel="stylesheet" href="../src/dep/modules-responsive.min.css">
	<link rel="stylesheet" href="../src/dep/style_dynamic_responsive.css">
	<link rel="stylesheet" href="../src/dep/woocommerce-responsive.min.css">
	<link rel="stylesheet" href="../src/dep/js_composer.min.css">

	<link href="https://fonts.googleapis.com/css?family=Rubik:300,500" rel="stylesheet">
	<link rel="stylesheet" href="./fonts/custom_icon.css">
</head>
<body>
<%= require('html-loader!./layouts/what_we_do.html') %>
<%= require('html-loader!./layouts/what_are_the_mail_points.html') %>

</body>
</html>
