<div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-center mkd-grid-section" style=""><div class="clearfix mkd-section-inner"><div class="mkd-section-inner-margin clearfix"><div class="mkd-row-animations-holder mkd-element-from-fadde" data-animation="mkd-element-from-fade"><div style="transition-delay: 500ms;-webkit-animation-delay: 500ms;animation-delay: 500ms"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner ">
	<div class="wpb_wrapper what-we-do">
		<div class="wpb_raw_code wpb_content_element wpb_raw_html">
			<div class="wpb_wrapper">
				<div class="mkd-section-inner">
						<div class="vc_col-sm-6 vc_col-md-4 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-custom_software_developement"></i>
								</div>
								<h6 class="block-title">Why we do what we do?</h6>
								<p>Everyday, we change the world for the better! <br> <b>We do it...</b> because this occurs every time we turn your business ideas into final products.</p>
						</div>
						<div class="vc_col-sm-6 vc_col-md-4 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-dedicated_team_for_developement"></i>
								</div>
								<h6 class="block-title">How we work?</h6>
								<p>By combining our efforts together, we follow in the steps of new technology with a view to finding more effective solution to address the challenges that lie ahead of us.</p>
						</div>
						<div class="vc_col-sm-6 vc_col-md-4 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-individual_hire"></i>
								</div>
								<h6 class="block-title">What we do?</h6>
								<p>We satisfy your business needs by sharing our technology expertise and experience, delivering qualitative services to you with meeting.</p>
						</div>
						<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div></div>




<div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-center" style=""><div class="clearfix mkd-full-section-inner"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">
			<div class="section-wrap">
			<div class="vc_col-sm-6 vc_col-xs-12 section-block">
				<h2>Full-cycle Partner</h2>
				<div class="mkd-separator base"></div>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-custom_software_developement"></i>
					<h4>Custom Software Development</h4>
					<p>Full Management, Requirements Analysis, Architecture, UI/UX, <br> Development, Testing and Support</p>
				</a>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-dedicated_team_for_developement"></i>
					<h4>Dedicated Development Teams</h4>
					<p>Managed Team, Unmanaged Team </p>
				</a>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-individual_hire"></i>
					<h4>Individual Developers</h4>
					<p>Front End and Back End Engineers, iOS and Android Engineers, <br> UI/UX Designers, QA and QC/Testers</p>
				</a>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-managed_services_support"></i>
					<h4>Managed Services</h4>
					<p>Business Analyst, Solution Architect, Project Architect, DBA, <br> DevOps, Maintenance work and Support </p>
				</a>
			</div>
			<div class="vc_col-sm-6 vc_col-xs-12 section-block blue blue-block1">
				<p class="block-title">SEVEN is your one-stop-shop for Software Development</p>
				<img class="center-img" src="../../../assets/img/blue-image1.png" alt="">
				<p>Software Development Life Cycle Diagram</p>
				<a itemprop="url" href="#" target="_self" class="mkd-btn mkd-btn-small mkd-btn-outline">
	    		<span class="mkd-btn-text">Our services</span>
	    	</a>
			</div>
			<div class="vc_col-sm-6 vc_col-sm-push-6 vc_col-xs-12 section-block">
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-fast_and_easy_start"></i>
					<h4>Time-tested Processes</h4>
					<p>With an advanced development and project management processes, we’ve simplified the routine for our customers and achieved stable project delivery.</p>
				</a>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-dedicated_team_for_developement"></i>
					<h4>Business Analysis</h4>
					<p>We participate fully throughout the project life cycle. During the business analysis stage, we help you to take an honest look at your business model. After that we develop your solution with a much higher value for the end user.</p>
				</a>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-individual_hire"></i>
					<h4>Quality Control</h4>
					<p>Prior to start the actual work, we pay a lot of attention to your expectations of the final product. We make a list of clear requirements of the final product, which help us to validate and verify it.</p>
				</a>
				<a href="#" class="block-icon-text">
					<i class="icocustom icocustom-managed_services_support"></i>
					<h4>Cost Control</h4>
					<p>We provide complete transparency in tracking individual performance
of employees and you get full control over your budget.</p>
				</a>
			</div>
			<div class="vc_col-sm-6 vc_col-sm-pull-6 vc_col-xs-12 section-block blue blue-block2">
				<div>
					<h2>Our Approach</h2>
					<div class="mkd-separator"></div>
				</div>
				<img class="center-img" src="../../../assets/img/blue-image2.png" alt="">
				<p>Project Life Cycle Diagram</p>
				<div class="logotypes">
					<img src="../../../assets/img/logotypes.png" alt="">
				</div>
			</div>
			</div>
		</div>
	</div>
</div></div></div></div></div>