<!-- service_ 2_ Dedicated Development Teams_70__blue font.psd -->
<div class="vc_row wpb_row vc_row-fluid mkd-content-aligment-center mkd-section mkd-content-aligment-left mkd-grid-section" style=""><div class="clearfix mkd-section-inner"><div class="mkd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">

            <div class="what_are_the_mail_points">
                <h2>What we provide?</h2>
                <div class="mkd-separator base"></div>
                <p class="slogan-text">Let us build a dedicated remote development team of Scrum masters, software
                    engineers, and QA specialists for your specific case. Extend your IT department with a team of
                    remote professionals. Your extended team saves your budget without losing quality.</p>

                <div class="mkd-section-inner ">
                    <div class="ul-list vc_row">
                        <div class="vc_col-sm-6 vc_col-xs-12">
                            <div class="li-item">
                                Managed Team
                                <p>We take care of all management processes and activities</p>
                            </div>
                        </div>
                        <div class="vc_col-sm-6 vc_col-xs-12">
                            <div class="li-item">
                                Unmanaged Team
                                <p>Remote developers become the part of your company and your management approach</p>
                            </div>
                        </div>
                    </div>
                    <div class="you-need-it">
                        <div class="title">You need it if</div>
                        <div class="vc_row">
                            <div class="vc_col-sm-6 vc_col-xs-12 pb40">
                                <div class="check-item">
                                    A new product has to be developed but you can’t add it
                                    to the workload of your primary development team
                                </div>
                            </div>
                            <div class="vc_col-sm-6 vc_col-xs-12 pb40">
                                <div class="check-item">
                                    You don't have a big enough budget to hire and build
                                    a cost-effective IT development team in your location
                                </div>
                            </div>
                            <div class="vc_col-sm-6 vc_col-xs-12 pb40">
                                <div class="check-item">
                                    You are limited in time and can't afford long-lasting recruiting
                                    process to build the development dream-team
                                </div>
                            </div>
                            <div class="vc_col-sm-6 vc_col-xs-12 pb40">
                                <div class="check-item">
                                    You have to deliver more but the IT budget
                                    is not increasing
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div></div></div></div></div></div>