<!-- service_ 4_Managed Services_70__blue font.psd -->
<div class="vc_row wpb_row vc_row-fluid mkd-content-aligment-center mkd-section mkd-content-aligment-left mkd-grid-section" style=""><div class="clearfix mkd-section-inner"><div class="mkd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
        <div class="wpb_wrapper">

            <div class="what_are_the_mail_points what_we_provide_1">
                <h2>What we provide?</h2>
                <div class="mkd-separator base"></div>
                <p class="slogan-text">If you need to boost up project delivery speed or free up your employees’ time,
                    we are happy to help you with it. Our 10+ years’ experience will add more value to your product and
                    reduce costs.</p>

                <div class="mkd-section-inner ">
                    <div class="ul-list vc_row">
                        <div class="vc_col-sm-4 vc_col-xs-12">
                            <div class="li-item">
                                Remote Support
                                <p>We’ll provide top-grade technical support under your brand</p>
                            </div>
                        </div>
                        <div class="vc_col-sm-4 vc_col-xs-12">
                            <div class="li-item">
                                Managed QA
                                <p>Delegate your internal QA and testing processes to us or choose our turnkey QA solution</p>
                            </div>
                        </div>
                        <div class="vc_col-sm-4 vc_col-xs-12">
                            <div class="li-item">
                                Fully managed Product
                                <p>Rely all Support and QA activities on us, focus on your business and development</p>
                            </div>
                        </div>
                    </div>
                    <div class="you-need-it">
                        <div class="title">You need it if</div>
                        <div class="vc_row">
                            <div class="vc_col-sm-4 vc_col-xs-12">
                                <div class="check-item">
                                    You have budget limits but need to extend
                                    your IT department with QA and DevOps professionals
                                </div>
                            </div>
                            <div class="vc_col-sm-4 vc_col-xs-12">
                                <div class="check-item">
                                    You require high-quality technical support of
                                    your product to avoid downtimes, decrease
                                    in customer loyalty to your product,
                                    and loss associated with delays in
                                    business operations
                                </div>
                            </div>
                            <div class="vc_col-sm-4 vc_col-xs-12">
                                <div class="check-item">
                                    Your IT department's capabilities are limited
                                    but you need to get additional
                                    IT expertise
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div></div></div></div></div></div>