<div class="vc_row wpb_row vc_row-fluid mkd-content-aligment-center mkd-section mkd-content-aligment-left mkd-grid-section" style=""><div class="clearfix mkd-section-inner"><div class="mkd-section-inner-margin clearfix"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_raw_code wpb_content_element wpb_raw_html">
		<div class="wpb_wrapper">

			<div class="what_are_the_mail_points">
				<h2>What are the main points?</h2>
				<div class="mkd-separator base"></div>
				<p class="slogan-text">No matter who you are, a startup or an established company, we will assist you on every stage of the application development lifecycle
				starting from project architecture and business analysis to the project development, testing, delivery, and support. </p>

				<div class="mkd-section-inner ">
					<div class="ul-list vc_row">
						<div class="vc_col-sm-4 vc_col-xs-12">
							<div class="li-item">
								Pass management activities on to us
							</div>
						</div>
						<div class="vc_col-sm-4 vc_col-xs-12">
							<div class="li-item">
								Define your budget before the project's start
							</div>
						</div>
						<div class="vc_col-sm-4 vc_col-xs-12">
							<div class="li-item">
								Get a product that meets your business goals
							</div>
						</div>
					</div>
					<div class="you-need-it">
						<div class="title">You need it if</div>
						<div class="vc_row">
							<div class="vc_col-sm-4 vc_col-xs-12">
								<div class="check-item">
									You have a business idea or concept  and need somebody who can transform it into a product
								</div>
							</div>
							<div class="vc_col-sm-4 vc_col-xs-12">
								<div class="check-item">
									You don't want to hire your own
									management and development team
									for this specific project
								</div>
							</div>
							<div class="vc_col-sm-4 vc_col-xs-12">
								<div class="check-item">
									You need to minimize the risks  associated with budget and time
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>




		</div>
	</div>
</div></div></div></div></div></div>