<div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-center mkd-grid-section" style=""><div class="clearfix mkd-section-inner"><div class="mkd-section-inner-margin clearfix"><div class="mkd-row-animations-holder mkd-element-from-fadde" data-animation="mkd-element-from-fade"><div style="transition-delay: 500ms;-webkit-animation-delay: 500ms;animation-delay: 500ms"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner ">
	<div class="wpb_wrapper what-do-we-do">
		<div class="wpb_raw_code wpb_content_element wpb_raw_html">
			<div class="wpb_wrapper">
				<h3>What do we do?</h3>
				<div class="mkd-separator"></div>
				<div class="mkd-section-inner">
					<div class="services">
						<div class="vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-custom_software_developement"></i>
								</div>
								<h6>Custom Software Development</h6>
						</div>
						<div class="vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-dedicated_team_for_developement"></i>
								</div>
								<h6>Dedicated Teams for Development</h6>
						</div>
						<div class="vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-individual_hire"></i>
								</div>
								<h6>Individual Engineers for Hire</h6>
						</div>
						<div class="vc_col-sm-6 vc_col-md-3 vc_col-xs-12">
								<div class="icon-box">
									<i class="icocustom icocustom-managed_services_support"></i>
								</div>
								<h6>Managed Services Support</h6>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div></div></div></div></div></div>