body {
    font-family: Rubik;
    color: #425e69;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Rubik;
    font-weight: 500;
}

h3{
    margin-bottom: 16px
}

.mkd-grid-section .mkd-section-inner {
    width: 1170px;
}
.mkd-separator {
    border-width: 0 0 4px;
    width: 70px;
    &.base {
      border-color: $base-color;
    }
}

.find-out {
    padding-bottom: 40px;
}